.contact h2{
    font-size: 100px;
    margin-left: 10px;
}
p{
    margin-left: 25px;
    margin-top: 15px;
    font-size: 25px;
}
#first{
    display: inline-block;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 15px;
     text-decoration: none;
    color: black;
}
